* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

html, body {
	height: 100%;
	overflow-y: hidden;
}

.main-section {
	height: 100%;
}

.atmos-header {
	width: 56px;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
}

.atmos-menu {
	position: relative;
	height: 100%;
}

.atmos-menu h4 {
	margin: 0;
}

.atmos-menu ul {
	padding: 0;
	list-style-type: none;
}

.atmos-vmenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #555555;
}
 
.atmos-vmenu li {
	position: relative;
}

.atmos-vmenu li a {
    display: block;
    text-indent: -500em;
    height: 3.5em;
    width: 3.5em;
    line-height: 3.5em;
    text-align: center;
    color: #999;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
 
.atmos-vmenu li .atmos-vmenu-text {
	position: absolute;
	top: 0;
	left: 100%;
	color: #E6E6E6;
	height: 100%;
	line-height: 3.5em;
	background: #47a3da;
	padding-right: 10px;
	white-space: nowrap;
	display: none;
}
 
.atmos-vmenu li .atmos-vmenu-text div {
	font-size: 0.9em;
}
 
.atmos-vmenu li a:hover + .atmos-vmenu-text {
	display: block;
}
 
.atmos-vmenu li a:hover,
.atmos-vmenu li:first-child a{
    background: #47a3da;
    color: #fff;
}
 
/* class for current item */
.atmos-vmenu li.cbp-vicurrent a {
    background: #fff;
    color: #47a3da;
}
 
.atmos-vmenu li a:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
}

.atmos-vmenu li a.icon-logo:before {
    content: "A";
    font-weight: 700;
    font-size: 200%;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.atmos-vmenu li a.icon-login:before {
    content: "\f00f";
    font-family: "GeneralFoundicons";
}

.atmos-vmenu li a.icon-send:before {
    content: "\f003";
    font-family: "GeneralFoundicons";
}

.atmos-vmenu li a.icon-private:before {
    content: "\f007";
    font-family: "GeneralFoundicons";
}

.atmos-vmenu li a.icon-avator:before {
    content: "\f020";
    font-family: "GeneralFoundicons";
}

.atmos-vmenu li a.icon-password:before {
    content: "\f01b";
    font-family: "GeneralFoundicons";
}

.atmos-vmenu li a.icon-logout:before {
  	content: "\f013";
    font-family: "GeneralFoundicons";
}

.sender-panel {
	width: 288px;
	height: 100%;
	background-color: yellow;
	margin-left: 56px;
	padding: 6px;
}

.sender-panel textarea {
	width: 280px;
	height: 100px;
	padding: 4px;
}

.sender-panel-close-button {
	float: right;
}

.sender-panel-avator {
	width: 48px;
	margin-left: 4px;
}

.sender-panel-avator > img {
	max-width: 48px;
	max-height: 48px;
}

.sender-panel-footer {
	margin-top: 0.3em;
	text-align: right;
	line-height: 1.5em;
}

.sender-panel-footer label {
	float: right;
	width: 80%;
}

.sender-panel-footer label input {
	float: none;
	width: 1em;
	margin-left: 3px;
}

.contents-wrapper {
	position: fixed;
	left: 56px;
	top: 0px;
	min-width: 600px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.contents {
	position: relative;
	padding-right: 56px;
	height: 100%;
	font-size: 0;
	white-space: nowrap;
	overflow-x: hidden;
}

.timeline,
.conversation {
	display: inline-block;
	font-size: 1rem;
	white-space: normal;
	width: 298px;
	height: 100%;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: none;
	border-left-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-width: 2px;
}

.timeline-header,
.conversation-header {
	position: relative;
	height: 31px;
	font-size: 1.1em;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
}

.timeline-items-wrapper,
.conversation-items-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

.timeline-items,
.conversation-items {
	position: relative;
	padding-bottom: 57px;
	font-size: 0.9em;
}

.timeline-item-wrapper,
.conversation-item-wrapper {
	padding-left: 52px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	transition: all 0.5s ease-out 0;
}

.timeline-item,
.conversation-item {
	padding: 4px;
}

.timeline-item-avator,
.conversation-item-avator {
	float: left;
	width: 48px;
	margin-left: -52px;
	margin-right: 4px;
}

.timeline-item-avator > img,
.conversation-item-avator > img {
	max-width: 48px;
	max-height: 48px;
}

.timeline-item-timestamp,
.conversation-item-timestamp {
	float: right;
	font-size: 0.8em;
	padding-top: 2px;
}

.timeline-item-address,
.conversation-item-address {
	text-align: right;
}

.timeline-item-address > i,
.conversation-item-address > i {
	margin-right: 2px;
}

.timeline-item-address > span,
.conversation-item-address > span {
	margin-right: 0.4em;
}

.timeline-item-message,
.conversation-item-message {
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-top: 2px;
	margin-bottom: 2px;
}

.timeline-item-footer,
.conversation-item-footer {
	font-size: 0.8em;
}

.reply-panel {
}

.reply-panel > a {
}

.conversation-main .reply-panel {
	margin-left: 10px;
}

.reaction-panel {
	float: right;
	opacity: 0;
	transition: opacity 0.5s ease-out 0;
	margin-right: 2px;
}

.timeline-item:hover > .timeline-item-footer > .reaction-panel,
.conversation-item:hover > .conversation-item-footer > .reaction-panel {
	opacity: 1;
}

.reaction-panel > a {
}

.reaction-count {
	padding-left: 0.3em;
}

.timeline-read-more {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	text-align: center;
}

.conversation-main.conversation-item-wrapper {
	padding-left: 0;
}

.conversation-main .conversation-header {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.conversation-main .conversation-item-user {
	display: inline-block;
}

.conversation-main .conversation-item-avator {
	float: none;
	margin-left: 0;
	margin-right: 0;
	display: inline-block;
}

.conversation-main .conversation-item-username {
	display: inline-block;
	padding-top: 1em;
	vertical-align: top;
}

.conversation-main .conversation-item-address {
	float: right;
	margin-top: 2em;
}

.conversation-main .conversation-item-message {
	font-size: 1.2em;
}

.conversation-main .conversation-item-timestamp {
	float: none;
	text-align: right;
}

.conversation-main .conversation-item-footer hr {
	border: none;
	height: 2px;
	margin-bottom: 5px;
}

.conversation-main .conversation-item-footer .reaction-panel {
	float: right;
	opacity: 1;
}

.atmos-modal-bg {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.atmos-modal-wrapper {
	position: fixed;
	z-index: 2000;
	min-width: 300px;
	max-width: 500px;
	min-height: 200px;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.atmos-modal {
	z-index: 2100;
	position: relative;
	margin: 0px auto;
}

.atmos-modal-header {
	padding: 0.5em;
	text-align: center;
}

.atmos-modal-window-button {
	float: right;
	padding: 0.5em;
	text-align: center;
}

.atmos-modal-body {
	padding: 0.5em;
	min-height: 100px;
//	text-align: center;
	font-size: 1.2em;
}

.atmos-modal-body p {
	padding: 1px;
}

.atmos-modal-body input,
.atmos-modal-body textarea,
.sender-panel input,
.sender-panel textarea {
	border-radius: 2px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-style: none;
	padding: 4px 6px 4px 6px;
	vertical-align: middle;
	font-size: 1em;
	margin: 3px 0 3px 0;
	line-height: 1.4em;
	width: 97%;
}

.atmos-modal-body textarea.addresses,
.sender-panel textarea.addresses {
	height: 2.5em;
}

.atmos-modal-body input[type=checkbox] {
	width: auto;
	text-align: left;
}

.atmos-modal-body input:focus,
.atmos-modal-body textarea:focus {
	outline-offset: -2px;
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgba(200,200,200,0.5);
}

.atmos-modal-footer {
	padding: 0.5em;
	text-align: center;
}

.atmos-modal-footer button,
.sender-panel button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
//	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
//	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

//	background: #823aa0;
//	color: #fff;
	height: 30px;
	min-width: 100px;
	line-height: 24px;
	font-size: 1.1em;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.atmos-modal-footer button:after,
.sender-panel button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.atmos-modal-footer button:active,
.sender-panel button:active {
	top: 2px;
}

.atmos-modal-footer button span,
.sender-panel button span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.atmos-modal-footer button:before,
.sender-panel button:before {
	position: absolute;
	height: 100%;
	width: 100%;
//	line-height: 2.5;
//	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.atmos-modal-footer button:active:before,
.sender-panel button:active:before {
	color: #703b87;
}

/* Button 5b */
.atmos-modal-footer button:hover span,
.atmos-modal-footer button:focus span,
.sender-panel button:hover span,
.sender-panel button:focus span {
	-webkit-transform: translateX(200%);
	-moz-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.atmos-modal-footer button:before,
.sender-panel button:before {
	left: -100%;
	top: 0;
}

.atmos-modal-footer button:hover:before,
.atmos-modal-footer button:focus:before,
.sender-panel button:hover:before,
.sender-panel button:focus:before {
	left: 0;
	padding-top: 5px;
}

.atmos-modal-footer a {
	font-size: 1.2em;
	display: inline-block;
	margin: 0 1em 0 1em;

//	color: #6f8686;
//	text-shadow: 0 0 1px rgba(111,134,134,0.3);
	outline: none;
}

.atmos-modal-footer a:hover,
.atmos-modal-footer a:focus {
	outline: none;
}

//.cl-effect-16 a {
//	color: #6f8686;
//	text-shadow: 0 0 1px rgba(111,134,134,0.3);
//}

.atmos-modal-footer a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.atmos-modal-footer a:hover::before,
.atmos-modal-footer a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}

.avator-mini {
	max-width: 14px;
	max-height: 14px;
	min-width: 14px;
	min-height: 14px;
	margin-right: 3px;
}

.profile-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.profile-wrapper .profile {
	width: 500px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.profile-wrapper .profile a.close-button {
	float: right;
}

.profile-wrapper .profile > header {
	width: 100%;
	height: 50%;
	text-align: center;
}

.profile-wrapper .profile > header div.avator {
	position: relative;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 80%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.profile-wrapper .profile > header div.name {
	font-size: 1.5em;
	position: fixed;
	top: 15%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
}

.profile-wrapper .profile > header div.introduction {
	position: fixed;
	top: 30%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
}

.profile-wrapper .profile > header div.action-panel {
	position: fixed;
	top: 41%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 2em;
}

.profile-wrapper .profile > header div.action-panel div.action {
	display: inline-block;
	padding-left: 0.25em;
	padding-right: 0.25em;
	border-radius: 3px;
}

.profile-wrapper .profile .profile-main {
	position: relative;
	width: 100%;
	height: 50%;
	overflow-y: hidden;
}

.profile-wrapper .profile .profile-main header {
	position: relative;
	width: 100%;
	height: 10%;
	text-align: center;
}

.profile-wrapper .profile .profile-main div.timeline {
	position: relative;
	width: 100%;
	height: 90%;
	border: none;
	overflow-y: hidden;
}

.profile-wrapper .profile .profile-main div.timeline article.timeline-item {
	position: relative;
	width: 96%;
	padding: 2%;
}

.profile-wrapper .profile .profile-main div.timeline article.timeline-item header {
	color: rgba(205,205,205,1.0);
	font-size: 0.6em;
	text-align: right;
}

.profile-wrapper .profile .profile-main div.timeline article.timeline-item div.message {
	font-size: 0.9em;
}

.profile-wrapper .profile .profile-main div.timeline div.timeline-item-separator {
	position: relative;
	width: 80%;
	height: 2px;
	margin-left: 10%;
	margin-right: 10%;
}

div.textcomplete-wrapper {
	width: 100%;
}

div.textcomplete-wrapper > ul.dropdown-menu {
	background-color: rgba(0,0,0,0.3);
	font-size: 0.8em;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 2px;
	text-align:	left;
}

div.textcomplete-wrapper > ul.dropdown-menu > li {
	padding-left: 5px;
	padding-right: 5px;
}

div.textcomplete-wrapper > ul.dropdown-menu > li.active {
	background-color: rgba(0,0,0,0.2);
}
