.main-section {
	background-color: #444444;
}

.atmos-modal-bg {
	background-color: rgba(0,0,0,0.7);
}

.atmos-modal {
	color: #fff;
	background-color: #47a3da;
}

.atmos-modal-header {
	background-color: #3692c9;
}

.atmos-modal-header a {
	color: #58b4eb;
}

.atmos-modal-body ul {
	list-style: none;
}

.atmos-modal-body input,
.atmos-modal-body textarea {
	background-color: #69c5fc;
	color: #fff;
}

.atmos-modal-body input::-webkit-input-placeholder,
.atmos-modal-body textarea::-webkit-input-placeholder {
	color: #3692c9;
}

.atmos-modal-body input::-moz-placeholder,
.atmos-modal-body textarea::-moz-placeholder {
	color: #3692c9;
}

.atmos-modal-footer button {
	color: #fff;
	background-color: #3692c9;
}

.atmos-modal-footer button:active,
.atmos-modal-footer button:focus {
	color: #fff;
	background-color: #69c5fc;
}

.atmos-modal-footer button:active:before,
.atmos-modal-footer button:focus:before {
	color: #fff;
}

.atmos-modal-footer a {
	color: #1470a7;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.timeline,
.conversation {
	color: #ffffff;
	border-color: #555555;
}

.timeline-header,
.conversation-header {
	background-color: #555555;
}

.conversation-header > a {
	color: #ffffff;
}

.timeline-item-wrapper,
.conversation-item-wrapper {
	border-color: #555555;
}

.timeline-item-header,
.conversation-item-header {
	color: #cccccc;
}

.conversation-item-message {
	color: #ffffff;
}

.reply-panel > a {
	color: #cccccc;
}

.reaction-panel > * {
	color: #cccccc;
}

/* default */
.timeline-item-wrapper,
.conversation-item-wrapper {
	background-color: #444444;
}

.timeline-item-wrapper:hover {
	background-color: #777777;
}

.timeline-items-wrapper,
.conversation-items-wrapper {
	background-color: #444444;
}

.conversation-item-footer > hr {
	background-color: #415A74;
}

.conversation-items-wrapper {
	background-color: #444444;
}

.conversation-items-wrapper > .conversation-items > .conversation-item-wrapper {
	background-color: #415A74;
}

.conversation-items-wrapper > .conversation-items > .conversation-main.conversation-item-wrapper {
	/* MIDNIGHT BLUE */
	background-color: #2C3E50;
}

.timeline-row1 > .timeline-items-wrapper,
.timeline-row3 > .timeline-items-wrapper,
.timeline-row5 > .timeline-items-wrapper {
	/* BELIZE HOLE */
	background-color: #444444;
}

.timeline-row1 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row3 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row5 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper {
	background-color: #2980b9;
}

.timeline-row1 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row3 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row5 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover {
	/* PETER-RIVER */
	background-color: #3498db;
}

.timeline-row2 > .timeline-items-wrapper,
.timeline-row4 > .timeline-items-wrapper,
.timeline-row6 > .timeline-items-wrapper {
	/* GREEN-SEA */
	background-color: #444444;
}

.timeline-row2 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row4 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row6 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper {
	background-color: #16a085;
}

.timeline-row2 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row4 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row6 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover {
	/* TURQUOISE */
	background-color: #1abc9c;
}

.timeline-item-message a,
.conversation-item-message a {
	color: #ffffff;
}

.timeline-item-message a:hover,
.conversation-item-message a:hover {
	color: #d5d5d5;
}

.palette-global-timeline-base-color {
	/* BELIZE HOLE */
	background-color: #2980b9;
}
.palette-global-timeline-header-color {
	/* PETER-RIVER */
	background-color: #3498db;
}
.palette-my-timeline-base-color {
	/* GREEN-SEA */
	background-color: #16a085;
}
.palette-my-timeline-header-color {
	/* TURQUOISE */
	background-color: #1abc9c;
}
.palette-talk-timeline-base-color {
	/* PUMPKIN */
	background-color: #d35400;
}
.palette-talk-timeline-header-color {
	/* CARROT */
	background-color: #e67e22;
}
.palette-announce-timeline-base-color {
	/* NEPHRITIS */
	background-color: #27ae60;
}
.palette-announce-timeline-header-color {
	/* EMERLAND */
	background-color: #2ecc71;
}
.palette-monolog-timeline-base-color {
	/* WISTERIA */
	background-color: #8e44ad;
}
.palette-monolog-timeline-header-color {
	/* AMETHYST */
	background-color: #9b59b6;
}
.palette-private-timeline-base-color {
	/* POMEGRANATE */
	background-color: #c0392b;
}
.palette-private-timeline-header-color {
	/* ALIZARIN */
	background-color: #e74c3c;
}
