.main-section {
	background-color: #444444;
}

.atmos-modal-bg {
	background-color: rgba(0,0,0,0.7);
}

.atmos-modal,
.sender-panel {
	color: #fff;
	background-color: #47a3da;
}

.private-message .atmos-modal,
.private-message.sender-panel {
	/* CARROT */
	background-color: #e67e22;
}

.atmos-modal-header {
	background-color: #3692c9;
}

.private-message .atmos-modal-header {
	background-color: #e2620c;
}

.atmos-modal-header a,
.sender-panel-header a {
	color: #58b4eb;
}

.private-message .atmos-modal-header a,
.private-message .sender-panel-header a {
	color: #f39c12;
}

.atmos-modal-body ul,
.sender-panel-contents ul {
	list-style: none;
}

.atmos-modal-body input,
.atmos-modal-body textarea,
.sender-panel input,
.sender-panel textarea,
.sender-panel div.attachment-file-dropzone {
	background-color: #69c5fc;
	color: #fff;
}

.private-message .atmos-modal-body input,
.private-message .atmos-modal-body textarea,
.private-message.sender-panel input,
.private-message.sender-panel textarea,
.private-message.sender-panel div.attachment-file-dropzone {
	background-color: #f39c12;
	outline-color: #ea770f;
}

.atmos-modal-body input::-webkit-input-placeholder,
.atmos-modal-body textarea::-webkit-input-placeholder,
.sender-panel input::-webkit-input-placeholder,
.sender-panel textarea::-webkit-input-placeholder {
	color: #3692c9;
}

.atmos-modal-body input::-moz-placeholder,
.atmos-modal-body textarea::-moz-placeholder,
.sender-panel input::-moz-placeholder,
.sender-panel textarea::-moz-placeholder {
	color: #3692c9;
}

.private-message .atmos-modal-body input::-webkit-input-placeholder,
.private-message .atmos-modal-body textarea::-webkit-input-placeholder,
.private-message.sender-panel input::-webkit-input-placeholder,
.private-message.sender-panel textarea::-webkit-input-placeholder {
	color: #e2620c;
}

.private-message .atmos-modal-body input::-moz-placeholder,
.private-message .atmos-modal-body textarea::-moz-placeholder,
.private-message.sender-panel input::-moz-placeholder,
.private-message.sender-panel textarea::-moz-placeholder {
	color: #e2620c;
}

.atmos-modal-footer button,
.sender-panel button {
	color: #fff;
	background-color: #3692c9;
}

.private-message .atmos-modal-footer button,
.private-message.sender-panel button {
	background-color: #e2620c;
}

.atmos-modal-footer button:active,
.atmos-modal-footer button:focus,
.sender-panel button:active,
.sender-panel button:focus {
	color: #fff;
	background-color: #69c5fc;
}

.private-message .atmos-modal-footer button:active,
.private-message .atmos-modal-footer button:focus,
.private-message.sender-panel button:active,
.private-message.sender-panel button:focus {
	background-color: #e67e22;
}

.atmos-modal-footer button:active:before,
.atmos-modal-footer button:focus:before,
.sender-panel button:active:before,
.sender-panel button:focus:before {
	color: #fff;
}

.atmos-modal-footer a {
	color: #1470a7;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.timeline,
.conversation {
	color: #ffffff;
	border-color: #555555;
}

.timeline-header,
.conversation-header {
	background-color: #555555;
}

.timeline-header div.header-control > span > a {
	color: #999999;
}

.timeline-header .header-menu {
	background-color: #555555;
}

.timeline-header .header-menu a {
	color: #999999;
}

.timeline-header .header-menu .disable {
	color: #606060;
}

.conversation-header > a {
	color: #ffffff;
}

.timeline-item-wrapper,
.conversation-item-wrapper {
	border-color: #555555;
}

.timeline-item-header,
.conversation-item-header {
	color: #cccccc;
}

.conversation-item-message {
	color: #ffffff;
}

.reply-panel > a {
	color: #cccccc;
}

.reaction-panel > * {
	color: #cccccc;
}

/* default */
.timeline-item-wrapper,
.conversation-item-wrapper {
	background-color: #444444;
}

.timeline-item-wrapper:hover {
	background-color: #777777;
}

.timeline-items-wrapper,
.conversation-items-wrapper {
	background-color: #444444;
}

.conversation-item-footer > hr {
	background-color: #415A74;
}

.conversation-items-wrapper {
	background-color: #444444;
}

.conversation-items-wrapper > .conversation-items > .conversation-item-wrapper {
	background-color: #415A74;
}

.conversation-items-wrapper > .conversation-items > .conversation-main.conversation-item-wrapper {
	/* MIDNIGHT BLUE */
	background-color: #2C3E50;
}

.timeline-row1 > .timeline-items-wrapper,
.timeline-row3 > .timeline-items-wrapper,
.timeline-row5 > .timeline-items-wrapper {
	/* BELIZE HOLE */
	background-color: #444444;
}

.timeline-row1 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row3 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row5 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper {
	background-color: #2980b9;
}

.timeline-row1 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row3 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row5 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover {
	/* PETER-RIVER */
	background-color: #3498db;
}

.timeline-row1 .timeline-read-more,
.timeline-row3 .timeline-read-more,
.timeline-row5 .timeline-read-more {
	/* PETER-RIVER */
	background-color: #3498db;
}

.timeline-row2 > .timeline-items-wrapper,
.timeline-row4 > .timeline-items-wrapper,
.timeline-row6 > .timeline-items-wrapper {
	/* GREEN-SEA */
	background-color: #444444;
}

.timeline-row2 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row4 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper,
.timeline-row6 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper {
	background-color: #16a085;
}

.timeline-row2 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row4 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover,
.timeline-row6 > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover {
	/* TURQUOISE */
	background-color: #1abc9c;
}

.timeline-row2 .timeline-read-more,
.timeline-row4 .timeline-read-more,
.timeline-row6 .timeline-read-more {
	/* TURQUOISE */
	background-color: #1abc9c;
}

.timeline-row-private > .timeline-items-wrapper {
	background-color: #444444;
}

.timeline-row-private > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper {
	background-color: #e2620c;
}

.timeline-row-private > .timeline-items-wrapper > .timeline-items > .timeline-item-wrapper:hover {
	background-color: #e67e22;
}

.timeline-row-private .timeline-read-more {
	background-color: #e67e22;
}


.timeline-item-message a,
.conversation-item-message a,
.timeline-read-more a {
	color: #ffffff;
}

.timeline-item-message a:hover,
.conversation-item-message a:hover,
.timeline-read-more a:hover {
	color: #d5d5d5;
}

.profile-wrapper {
	background-color: rgba(0,0,0,0.6);
}

.profile-wrapper .profile {
	color: rgba(255,255,255,1.0);
	background-color: rgba(0,0,0,0.7);
}

.profile-wrapper .profile a.close-button {
	color: rgba(100,100,100,1.0);
	text-decoration: none;
}

.profile-wrapper .profile > header {
}

.profile-wrapper .profile > header div.side-panel a {
	color: rgba(100,100,100,1.0);
	text-decoration: none;
}

.profile-wrapper .profile > header div.name {
	background-color: rgba(0,0,0,0.3);
}

.profile-wrapper .profile > header div.introduction {
	background-color: rgba(0,0,0,0.3);
}

.profile-wrapper .profile > header div.action-panel a {
	color: rgba(255,255,255,1.0);
	text-decoration: none;
}

.profile-wrapper .profile > header div.action-panel div.action {
	background-color: rgba(0,0,0,0.3);
}

.profile-wrapper .profile .profile-main {
}

.profile-wrapper .profile .profile-main div.timeline article.timeline-item {
}

.profile-wrapper .profile .profile-main div.timeline article.timeline-item header {
	color: rgba(205,205,205,1.0);
}

.profile-wrapper .profile .profile-main div.timeline article.timeline-item div.message a {
	color: rgba(255,255,255,1.0);
	text-decoration: none;
}

.profile-wrapper .profile .profile-main div.timeline div.timeline-item-separator {
	background-color: rgba(100,100,100,0.3);
}

.palette-global-timeline-base-color {
	/* BELIZE HOLE */
	background-color: #2980b9;
}
.palette-global-timeline-header-color {
	/* PETER-RIVER */
	background-color: #3498db;
}
.palette-my-timeline-base-color {
	/* GREEN-SEA */
	background-color: #16a085;
}
.palette-my-timeline-header-color {
	/* TURQUOISE */
	background-color: #1abc9c;
}
.palette-talk-timeline-base-color {
	/* PUMPKIN */
	background-color: #d35400;
}
.palette-talk-timeline-header-color {
	/* CARROT */
	background-color: #e67e22;
}
.palette-announce-timeline-base-color {
	/* NEPHRITIS */
	background-color: #27ae60;
}
.palette-announce-timeline-header-color {
	/* EMERLAND */
	background-color: #2ecc71;
}
.palette-monolog-timeline-base-color {
	/* WISTERIA */
	background-color: #8e44ad;
}
.palette-monolog-timeline-header-color {
	/* AMETHYST */
	background-color: #9b59b6;
}
.palette-private-timeline-base-color {
	/* POMEGRANATE */
	background-color: #c0392b;
}
.palette-private-timeline-header-color {
	/* ALIZARIN */
	background-color: #e74c3c;
}
